body {
     background-color:rgba(0, 0, 0, 0.282);
     font-family:'cursive';
     font-size: 75%;
     color:black;
}
 h1{
     font-family: 'Cambria';
     text-align: center;
     font-size: 10vh;
}
 #button {
     background:red;
     color: white;
     border-style: outset;
     border-color: #0066A2;
     height: 70px;
     width: 100%;
     font: bold 200% arial, sans-serif;
}
 #input{
     border: 2px dotted black;
     width: 100%;
     font-size: 250%;
     line-height: 35px;
     height: 50px;
     text-align: center;
     padding: 10px;
     background: white;
     color:silver;
}
 